{% extends 'new_project.html' %}
{% load static %}
{% block exp_block %}
<div class="center-container container-fluid">
    <img src="{% static 'images/exp.png' %}" alt="No projects available" width="500" height="500" class="img-fluid p-5">
    <h6 class="font-weight-bold">This Project has no experiments</h6>
    <div class="paragraph-wrapper text-center">
        <p>Press new experiment, to create your new machine learning project experiment</p>
    </div>
    <a class="btn article">New Experiment</a>
    {% comment %} {% include 'modal.html' %} {% endcomment %}
</div>     
{% endblock %}